body {
	color: white;
	background-color: lightskyblue;
}

#title {
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
}

#city {
	text-align: center;
	font-size: 45px;
	margin-top: 50px;
}

#date {
	text-align: center;
	color: grey;
}

form {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 60px;
	color: black;
}

#temp {
	padding: 0;
	width: 125px;
	margin: auto;
	text-align: center;
	font-size: 5em;
	margin-bottom: 50px;
	margin-top: 0;
	color: darkblue;
}

#conditions {
	text-align: center;
	color: grey;
}

#degrees {
	font-size: 40px;
	position: absolute;
	right: 0;
	top: 1%;
	color: darkblue;
}

.temp {
	text-align: center;
	position: relative;
	width: 125px;
	margin: auto;
}